body {
  background-color: #650000;
  color: #ccb4b4;
}

/* Header */
      .top-right-buttons {
        display: flex;
        justify-content: right;
        align-items: center;
        align-content: center;
        margin-top: -40px;
      }

      .user-signed-in {
        display: flex;
      }

      .signout-button {
        border-radius: 5px;
      }

      .signout-button, .welcome-message {
        display: flex;
        flex-direction: column;
        padding: 5px;
        margin-right: 15px;
      }


/* Home */
      .admin-home-title {
        height: 4vh;
      }

      .admin-home-content {
        height: 13vh;
      }

      .create-post-button {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
      }

      .create-post {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        border-radius: 10px;
        width: 9vw;
        height: 5vh;
      }

      .home-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      .home-page-title, .home-page-content, .admin-home {
        display: flex;
        margin-left: 80px;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 85vw;
      }

      .home-page-title {
        font-size: 46px;
      }

      .home-page-content {
        font-size: 30px;
      }

      .home-label {
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 44px;
        text-decoration: underline;
      }

      .home-buttons {
        display: flex;
        justify-content: center;
        text-align: center;
        width: 85vw;
        margin-left: 50px;
      }

/* Scoresheet */
        .page-container {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .scoresheet-container {
          display: flex;
          justify-content: space-around;
          margin-top: 20px;
        }

        .game-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 10px;
          color: #ccb4b4;
        }

        .team-select {
          height: 3vh;
          width: 11vw;
          background-color: #bababaea;
        }

        .team1-container {
          margin-right: 130px;
          margin-left: 40px;
        }

        .team1-container,
        .team2-container {
          width: 45%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
        }

        .cricket-container, .five-container, .seven-container {
          display: flex;
        }

        .week-label, 
        .team-label, 
        .qp-label, 
        .number-darts-label, 
        .highpoint-label,
        .results-label, 
        .whitehorse-label, 
        .total-wins-label {
          display: flex;
          text-wrap: wrap;
          width: 8vw;
          margin-bottom: 5px;
          margin-top: 5px;
          color: #ccb4b4;
        }

        .number-darts-label {
          margin-top: -3px
        }

        .player-select {
          width: 150px;
          height: 4vh;
          margin-top: 25px;
          margin-right: 25px;
          background-color: #bababaea;
        }

        .qp-input, .number-darts-input, .highpoint-input, .whitehorse-input, .results-input, .week-input {
          width: 6vw;
          height: 3vh;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #bababaea;
        }

        .total-wins-input {
          width: 5vw;
          height: 5vh;
          background-color: #bababaea;
        }

        .score-submit-button {
          margin-top: 20px;
          padding: 10px 20px;
          background-color: #007bff;
          color: #fff;
          border: none;
          border-radius: 3px;
          cursor: pointer;
        }

        .score-submit-button {
          margin-top: 50px;
          margin-bottom: 25px;
          width: 9vw;
          height: 5vh;
          border-radius: 5px;
        }

/* sign-up */
          .signup-page-container {
            padding-top: 5px;
            padding-bottom:5px;
          }

          .login-page-container {
            padding-top: 155px;
            padding-bottom: 402px;
          }

          form {
            background-color: white;
            color: #222222;
            padding: 1.5rem 2rem;
            text-align: left;
          }

          button,
          .signin-sheet {
            border: none;
            font-size: 1rem;
          }

          button {
            background-color: #1e90ff;
            color: #ffffff;
            padding: 0.75rem 1rem;
            margin-left: 1rem;
            transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in;
          }

          button + button {
            margin-left: 1rem;
          }

          button:focus {
            box-shadow: 0 0 5px#1e90ff;
            outline: none;
          }

          button:hover {
            background-color: #1880e7;
          }

          .signin-sheet {
            border-bottom: 1px solid #532727;
            display: block;
            margin: 1.5rem 0 0.5rem;
            padding: 0.5rem 0;
            transition: border 0.3s ease-in;
          }

          .signin-form {
            background-color: white;
            color: #222222;
            padding: 1.5rem 2rem;
            text-align: left;
          }

          .signin-label {
            
            font-weight: lighter;
            margin: 0;
            padding: 2rem 2rem 1rem;
            text-align: center;
          }

          .signin-sheet:focus + .username-label,
          .signin-sheet:not(:placeholder-shown) + .username-label {
            opacity: 1;
            transform: translateY(-4.25rem);
          }

          .signin-sheet[type='text'],
          .signin-sheet[type='password'] {
            width: 100%;
          }

          .cancel {
            background-color: #ff0000;
          }

          .cancel:focus {
            box-shadow: 0 0 5px #db0101;
            outline: none;
          }

          .cancel:hover {
            background-color: #ff0000;
          }

          .signin-form {
            background: url('https://w.forfun.com/fetch/c5/c561c642dd2def1413625729bcdde684.jpeg?h=900&r=0.5')
                no-repeat top 0rem right 0rem / 100%;
            border: 1px solid #949494;
            box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
            color: #007808;
            font-size: 26px;
            width: 100%;
            margin: auto;
            max-width: 400px;
            text-align: center;
          }

/* Team signups */
        .team-signup-container {
          padding-top: 5px;
          padding-bottom:5px;
        }

        .team-form {
          background-color: white;
          color: #222222;
          padding: 1.5rem 2rem;
          text-align: left;
        }

        .team-signup-submit,
        .signin-sheet {
          border: none;
          font-size: 1rem;
        }

        .team-signup-submit {
          background-color: #1e90ff;
          color: #ffffff;
          padding: 0.75rem 1rem;
          margin-left: 1rem;
          margin-top: 20px;
          border-radius: 4px;
          transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in;
        }

        .team-signup-submit + .team-signup-submit {
          margin-left: 1rem;
        }

        .team-signup-submit:focus {
          box-shadow: 0 0 5px#1e90ff;
          outline: none;
        }

        .team-signup-submit:hover {
          background-color: #1880e7;
        }

        .signin-sheet {
          border-bottom: 1px solid #532727;
          display: block;
          margin: 1.5rem 0 0.5rem;
          padding: 0.5rem 0;
          transition: border 0.3s ease-in;
        }

        .team-signin-form {
          background-color: white;
          color: #222222;
          padding: 1.5rem 2rem;
          text-align: left;
        }

        .team-signin-label {
          
          font-weight: lighter;
          margin: 0;
          padding: 2rem 2rem 1rem;
          text-align: center;
        }

        .signin-sheet:focus + .username-label,
        .signin-sheet:not(:placeholder-shown) + .username-label {
          opacity: 1;
          transform: translateY(-4.25rem);
        }

        .signin-sheet[type='text'],
        .signin-sheet[type='password'] {
          width: 100%;
        }

        .cancel {
          background-color: #ff0000;
        }

        .cancel:focus {
          box-shadow: 0 0 5px #db0101;
          outline: none;
        }

        .cancel:hover {
          background-color: #ff0000;
        }

        .team-signin-form {
          background: url('https://w.forfun.com/fetch/c5/c561c642dd2def1413625729bcdde684.jpeg?h=900&r=0.5')
              no-repeat top 0rem right 0rem / 100%;
          border: 1px solid #949494;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
          color: #007808;
          font-size: 26px;
          width: 100%;
          height: 300px;
          margin: auto;
          max-width: 700px;
          text-align: center;
        }

        .team-members-input {
          margin-right: 10px;
        }

        .checkbox {
          margin-right: 10px;
        }

/* Leagues */
          .league-container {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
          }
          .league-label {
            font-size: 46px;
          }
          .league-list {
            font-size: 22px;
          }
          .league-name {
            text-decoration: underline;
          }

/* Teams */
          .teams-container {
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
          }

          .team-list {
            border: 2px solid black;
            width: 50vw;
          }

          .teams-label {
            font-size: 46px;
            text-decoration: underline;
          }

          .team-names {
            font-size: 26px;
            text-decoration: underline;
          }

          .league-title {
            font-size: 22px;
            margin-top: -15px;
          }

          .team-captain-label {
            font-size: 20px;
            text-decoration: underline;
          }
          .captain-name {
            font-size: 20px;
            margin-top: -25px;
          }
          .team-members-label {
            font-size: 18px;
            text-decoration: underline;
          }
          .team-members {
            font-size: 20px;
            margin-top: -25px;
            margin-bottom: 40px;
          }

          .team-cell-email {
            font-size: 16px;
            text-decoration: underline;
            margin-bottom: 10px;
          }

/* Players */
          .players-container {
            display: flex;
            justify-content: center;
            text-align: center;
          }

          .players-label {
            font-size: 46px;
            text-decoration: underline;
          }

          .player-cell,
          .player-email {
            text-decoration: none;
            margin-top: -20px;
          }

          .players-member {
            border: 1px dashed black;
          }

          .player-name {
            font-size: 20px;
            text-decoration: underline;
          }


        @media (max-width: 480px) {
          body {
            background-color: #650000;
          }
        
          /* Header */
          .top-right-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 10px;
          }
        
          .user-signed-in {
            display: flex;
            align-items: center;
          }
        
          .signout-button {
            border-radius: 5px;
            margin-left: 10px;
          }
        
          .welcome-message {
            margin-right: 10px;
          }
        
          /* Home */
          .create-post-button {
            display: flex;
            justify-content: center;
            margin-top: 20px;
          }
        
          .create-post {
            border-radius: 5px;
            padding: 10px;
            width: 80%;
            max-width: 300px; 
            text-align: center;
            background-color: #fff; 
            color: #000; 
          }
        
          .home-container,
          .home-page-title,
          .home-page-content,
          .admin-home {
            margin-left: 10px;
            width: calc(100% - 20px); 
            max-width: 400px; 
          }
        
          .home-buttons {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            margin-left: 10px;
            width: calc(100% - 20px); 
            max-width: 400px; 
          }
        
          /* Scoresheet */
          .scoresheet-container {
            flex-direction: column;
            align-items: center;
          }
        
          .team1-container,
          .team2-container {
            width: 100%; 
            max-width: 400px; 
            margin: 10px 0; 
          }
        
          .team2-container {
            margin-top: 0; 
          }
        
          .player-select {
            width: 60%;
            max-width: 300px; 
            margin-top: 40px;
          }

          .team-label {
            margin: 0 auto;
            margin-top: 20px;
            font-size: large;
          }
      
          .qp-label,
          .number-darts-label,
          .highpoint-label,
          .results-label,
          .whitehorse-label {
            width: 79%;
            margin-top: 10px;
            font-size: small;
          }

          .week-label, .total-wins-label {
            display: flex;
            margin: 0 auto;
            margin-top: 20px;
          }

          .qp-input,
          .number-darts-input,
          .highpoint-input,
          .whitehorse-input,
          .week-input,
          .team-select {
            width: 60%;
            height: 30%;
            max-width: 300px; 
            margin-top: 5px;
          }

          .week-input {
            margin: 0 auto;
          }
          .results-input {
            width: 13vw;
            margin-top: 25px;
          }
        
          .total-wins-input {
            width: 50%;
            height: 3vh;
            max-width: 300px;
            margin-top: 10px;
          }

          .score-submit-button {
            width: 50%;
            max-width: 300px; 
            margin-top: 20px;
            margin-bottom: 200px;
          }
        }

/* signup */
        .signup-page-container {
          padding-top: 5px;
          padding-bottom:5px;
        }

        .login-page-container {
          padding-top: 155px;
          padding-bottom: 402px;
        }

        form {
          background-color: white;
          color: #222222;
          padding: 1.5rem 2rem;
          text-align: left;
        }

        button,
        .signin-sheet {
          border: none;
          font-size: 1rem;
        }

        button {
          background-color: #1e90ff;
          color: #ffffff;
          padding: 0.75rem 1rem;
          margin-left: 1rem;
          transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in;
        }

        button + button {
          margin-left: 1rem;
        }

        button:focus {
          box-shadow: 0 0 5px#1e90ff;
          outline: none;
        }

        button:hover {
          background-color: #1880e7;
        }

        .signin-sheet {
          border-bottom: 1px solid #532727;
          display: block;
          margin: 1.5rem 0 0.5rem;
          padding: 0.5rem 0;
          transition: border 0.3s ease-in;
        }

        .signin-form {
          background-color: white;
          color: #222222;
          padding: 1.5rem 2rem;
          text-align: left;
        }

        .signin-label {
          
          font-weight: lighter;
          margin: 0;
          padding: 2rem 2rem 1rem;
          text-align: center;
        }

        .signin-sheet:focus + .username-label,
        .signin-sheet:not(:placeholder-shown) + .username-label {
          opacity: 1;
          transform: translateY(-4.25rem);
        }

        .signin-sheet[type='text'],
        .signin-sheet[type='password'] {
          width: 80%;
        }

        .cancel {
          background-color: #ff0000;
        }

        .cancel:focus {
          box-shadow: 0 0 5px #db0101;
          outline: none;
        }

        .cancel:hover {
          background-color: #ff0000;
        }

        .signin-form {
          background: url('https://w.forfun.com/fetch/c5/c561c642dd2def1413625729bcdde684.jpeg?h=900&r=0.5')
              no-repeat top 0rem right 0rem / 100%;
          border: 1px solid #949494;
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
          color: #007808;
          font-size: 26px;
          width: 80%;
          margin: auto;
          max-width: 400px;
          text-align: center;
        }